body {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(45deg, #3E708E, #64969B);
    font-size: 10px; 
}
.level_0 {
    width: 70%;
    height: 600px;
    background-color: white;
    margin: 12% auto;
    display: flex;
    background-image: url(../Pict/Stroke\ 5.png);
    background-repeat: no-repeat;
    background-size: 50%;
}
.card {
    width: 55%;
    height: 100%;
    padding: 2% 5%;
    box-sizing: border-box;
}
.card_1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}
.card_1txt {
    color: #1E3E57;
    background: linear-gradient(45deg, #496F74, #6E9195, #2D4F61);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card_1_1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
}
.card_2 {
    width: 60%;
    height: 60%;
    margin: 5% auto;
    box-sizing: border-box;
}
label {
    font-size: 110%;
    font-weight: 400;
}
input {
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    height: 25px;
    font-size: 120%;
    border: 2px #CCCCCC solid;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-left: 5%;
    box-sizing: border-box;
}
::placeholder, .loc1 {
    font-size: 80%;
    color: #CCCCCC;
}
.loc1 {
    margin-left: 3%;
}
.phone1 ::placeholder {
    padding-left: 15px;
    font-size: 100%;
}
.pass1 ::placeholder {
    font-size: 150%;
    letter-spacing: 0.2rem;
}
p {
    font-size: 70%;
    color: #CCCCCC;
    margin-top: -8px;
    margin-bottom: 12px;
}
#sing {
    width: 100%;
    height: 25px;
    background-color: #1E3E57;
    border-color: #1E3E57;
    margin: 5% auto;
    color: white;
}
.avtor {
    margin-top: -3%;
    font-size: 120%;
    text-align: center;
    font-weight: 700;
    color: #CCCCCC;
}
.login {
    color: #1E3E57;
}
.title {
    width: 45%;
    height: 100%;
    background: linear-gradient(135deg, #517879, #1E3E57);
    padding-left: 6%;
    box-sizing: border-box;
}
.navi {
    display: flex;
    padding-top: 5%;
    list-style-type: none;
    margin-left: 35%;
}
.navi_p {
    color: white;
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
    margin: 10px;
    
}
.nazva {
    width: 80%;
    color: white;
    font-size: 390%;
    margin-top: 50%;
    font-weight: 700;
    text-shadow: 0.2rem 0.2rem #517879;
}
.albert {
    color: white;
    margin-top: 5%;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem #517879;
}